  <div class="attention">
    <div class="container">
      <b class="attention__label">Срочно</b>
      <b class="attention__label attention__label--sign">!</b>
      <p class="attention__news">ЦИК одобрил три вопроса для референдума по пенсионному возрасту</p>
      <button class="button button--close" type="button"><span class="visually-hidden">Закрыть</span></button>
    </div>
  </div>

<!-- /Users/boris/sites/gk-test/src/components/attention.html
/Users/boris/sites/gk-test/src/components/bunner-wide.html
/Users/boris/sites/gk-test/src/components/burger-panel.html
/Users/boris/sites/gk-test/src/components/fixed-bunner.html
/Users/boris/sites/gk-test/src/components/main-header.html
/Users/boris/sites/gk-test/src/components/menu-city.html
/Users/boris/sites/gk-test/src/components/modal-complaint.html
/Users/boris/sites/gk-test/src/components/modal-enter.html
/Users/boris/sites/gk-test/src/components/modal-password.html
/Users/boris/sites/gk-test/src/components/modal-write-us.html
/Users/boris/sites/gk-test/src/components/search-block.html -->