@use "_variables.scss";
@use "_mixins.scss";
@use "_scaffolding.scss";
@use "_visually-hidden.scss";
@use "_background.scss";

@use "blocks/_button.scss";
@use "blocks/_link.scss";
@use "blocks/_title.scss";
@use "blocks/_field-wrapper.scss";
@use "blocks/_mrg-right.scss";

@use "blocks/_inner-main.scss";

// // burger
@use "blocks/_burger-panel.scss";
@use "blocks/_breadcrumbs.scss";

// //top
@use "blocks/_bunner-wide.scss";
@use "blocks/_attention.scss";
@use "blocks/_widjets.scss";
@use "blocks/_weather.scss";
@use "blocks/_currency.scss";
@use "blocks/_road.scss";
@use "blocks/_user.scss";

// // main-header
@use "blocks/_main-header.scss";
@use "blocks/_enter.scss";
@use "blocks/_logo.scss";
@use "blocks/_search.scss";

// // main index
@use "blocks/_top-container.scss";
@use "blocks/_actual-rubrics.scss";
@use "blocks/_social.scss";
@use "blocks/_button-wrapper.scss";

@use "blocks/_tag.scss";
@use "blocks/_tags.scss";
@use "blocks/_hashteg.scss";
@use "blocks/_stamp.scss";
@use "blocks/_bookmark.scss";

// // большие карточки
@use "blocks/_while-card.scss";
@use "blocks/_half-card.scss";
@use "blocks/_half-card-news.scss";
@use "blocks/_half-card-advert.scss";

@use "blocks/_third-card.scss";
@use "blocks/_third-card-slider.scss";
@use "blocks/_half-card-slider.scss";
@use "blocks/_third-card-news-bg.scss";
@use "blocks/_third-card-news.scss";
@use "blocks/_third-card-news-no-bg.scss";
@use "blocks/_half-line-news.scss";

@use "blocks/_article.scss";
@use "blocks/_article-card.scss";
@use "blocks/_read-also.scss";
@use "blocks/_interesting.scss";
@use "blocks/_news-feed.scss";
@use "blocks/_banner.scss";
@use "blocks/_bunner-side.scss";
@use "blocks/_news.scss";
@use "blocks/_rubric.scss";
@use "blocks/_rubric-item.scss";
@use "blocks/_rubric-news.scss";
@use "blocks/_rubric-author.scss";

// //Сетка
@use "blocks/_main-greed.scss";
@use "blocks/_grid-main.scss";
@use "blocks/_grid-main-bottom.scss";

// // footer
@use "blocks/_main-footer.scss";

// // plagins 
@use "blocks/_is-js-slick.scss";
@use "blocks/_is-js-headhesive.scss";
@use "blocks/_is-js-fancybox.scss";
@use "blocks/_is-js-datarangepicker.scss";
@use "blocks/_is-js.scss";
@use "blocks/_main-content-wrapper.scss";

// // search
@use "blocks/_search-block.scss";
@use "blocks/_likes.scss";

@use "blocks/_modal-enter.scss";
@use "blocks/_login.scss";
@use "blocks/_registration.scss";
@use "blocks/_progect-label.scss";
@use "blocks/_progect-input.scss";
@use "blocks/_progect-field.scss";
@use "blocks/_progect-textarea.scss";
@use "blocks/_progect-check.scss";
@use "blocks/_checkbox-label.scss";
@use "blocks/_select-wrapper.scss";
@use "blocks/_progect-select.scss";
@use "blocks/_radio-input.scss";
@use "blocks/_radio-label.scss";
@use "blocks/_radio-wrapper.scss";
@use "blocks/_file-input.scss";
@use "blocks/_file-label.scss";
@use "blocks/_file-wrapper.scss";
@use "blocks/_file-image.scss";
@use "blocks/_top-panel.scss";

// // profile
@use "blocks/_profile.scss";
@use "blocks/_profile-card.scss";
@use "blocks/_form.scss";
@use "blocks/_link-group.scss";
@use "blocks/_card.scss";

@use "blocks/_sort.scss";
@use "blocks/_toggle-button-wrapper.scss";
@use "blocks/_toggle-button.scss";
@use "blocks/_marks.scss";
@use "blocks/_alert.scss";

@use "blocks/_comments.scss";
@use "blocks/_comment.scss";
@use "blocks/_add-comment.scss";

// // Всплывающее уведомление об использовании куки
@use 'blocks/_notifycation';

// verstki
@use "blocks/_reactions.scss";
@use "blocks/_line-v1.scss";
@use "blocks/_line-v2.scss";
@use "blocks/_line-v3.scss";
@use "blocks/_text-block.scss";
@use "blocks/_article-block.scss";
@use "blocks/_author.scss";
@use "blocks/_lead.scss";
@use "blocks/_feature.scss";
@use "blocks/_trick.scss";
@use "blocks/_plan.scss";
@use "blocks/_review.scss";
@use "blocks/_article-header.scss";
@use "blocks/_article-footer.scss";
@use "blocks/_reading-similar.scss";
@use "blocks/_reading.scss";
@use "blocks/_reading-item.scss";
@use "blocks/_chronic.scss";

@use "blocks/_img-thumbnail.scss";
@use "blocks/_only-mobile-block.scss";
@use "blocks/_fixed-block.scss";
@use "blocks/_push-bunner.scss";
@use "blocks/_closed.scss";
@use "blocks/_opened.scss";
@use "blocks/_passive.scss";
@use "blocks/_partner-news.scss";

@use "blocks/_news-fix.scss";
@use "blocks/_menu-city.scss";
@use "blocks/_button-city.scss";


